label {
  display: block;
  margin-bottom: 5px;
}



#hesaplabutonu {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

label {
  display: block;
  margin-bottom: 5px;
}

label[for="Milletittifaki"] {
  font-weight: bold;
  color: rgb(255, 0, 0);
  margin-bottom: 5px;
}

label[for="Emekittifaki"] {
  font-weight: bold;
  color: rgb(110, 0, 114);
  margin-bottom: 5px;
}

label[for="Cumhurittifaki"] {
  font-weight: bold;
  color: rgb(255, 145, 0);
  margin-bottom: 5px;
}

label[for="Ataittifaki"] {
  font-weight: bold;
  color: rgb(0, 60, 190);
  margin-bottom: 5px;
}

label[for="ittifaksiz"] {
  font-weight: bold;
  color: rgb(0, 190, 149);
  margin-bottom: 5px;
}



img {
  border-radius: 50%; /* yuvarlak köşeler için yüzde değeri kullanın */
}

.nav-menu li:hover {
  background-color: #f5f5f5; /* arka plan rengini değiştirin */
  transition: background-color 0.5s ease; /* geçiş süresi ve etkiyi ayarlayın */
}

input[type="text"] {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* x-offset, y-offset, blur, renk */
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.partimilletemek {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5px;
}

.milletemek {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5px;
  text-align: center;
}

.ittifakcumhur {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5px;
}

.particumhur {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5px;
}

.ittifakata {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5px;
  text-align: center;
}

.partiata {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 5px;
}

.ittifaksizparti {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 5px;

}

.grid-item {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  
}

.grid-itempartiz {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 12;
  display: grid;
  grid-template-rows: 1fr auto;

  
}

.Hesaplagrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 10px;

}

